$dgreen: #5cb85c
$lgreen: #127A4B
$dbrown: #732F29
$lbrown: #8D4C47


.jumbotron
    height: 32em
    background-image: url(../images/jumbotron_background.jpg)
    margin-bottom: 0
    .container
        width: 40em
    .well
        border: 8px solid $dgreen
    .title
        font-size: 4.4em
        color: $dgreen
        text-shadow: 2px 2px 2px #aaa
    .title-desc
        font-size: 0.9em
        color: #aaa
        margin-top: 0
        margin-left: 0.3em
    hr
        color: $dgreen
        border: 1px solid rgba(92, 184, 92, 0.4)
    label
        position: relative
        top: 0.8em
        margin-left: 0.2em
        font-size: 0.6em
        margin-bottom: 0
        line-height: 1px
        color: #777
    .form-control
        font-size: 1.2em
        height: 2em
        margin-top: 0
    #state
    .btn
        font-size: 1.2em
        margin-right: 0.6em
        margin-top: 1.4em

.nav-sidebar 
    width: 100%
    padding: 8px 0
    border-right: 1px solid #ddd
    a
        color: #333
        -webkit-transition: all 0.08s linear
        -moz-transition: all 0.08s linear
        -o-transition: all 0.08s linear
        transition: all 0.08s linear
    .active a
        cursor: default
        background-color: #34ca78
        color: #fff
        &:hover
            background-color: #37D980
    .text-overflow a,
    .text-overflow .media-body
        white-space: nowrap
        overflow: hidden
        -o-text-overflow: ellipsis
        text-overflow: ellipsis

main
    .results-header
        background-color: $dbrown
        color: #fff
        margin-top: 0
        border-bottom: 8px solid $lbrown
        h2
            text-transform: uppercase
            letter-spacing: 3px
            font-size: 3em
            margin: 0
            padding: 0.6em 0
    .row
        padding: 2em 0
        .col-md-6
            padding: 1em
            h2
                font-size: 2em
                margin-top: 0.4em
                margin-bottom: 0.6em
                color: $dbrown
                max-height: 30px
                overflow: hidden
            img
                display: inline-block
                float: left
            .info
                font-size: 1.4em
                display: inline-block
                float: left
                margin-left: 1.2em
                text-align: left
                b
            .btn
                margin-top: 1.4em
                clear: both